@font-face {
    font-family: "Baby_School";
    src: url(../assets/font/BabySchoolItalic.ttf);
}
body{
    background-color: #202020;
    color: #FFFFFF;
    font-family: "Baby School", serif;
}
.title{
    text-align: center;
    font-size: 50px;
    color: red;
}
#affiche_date{
    text-align: center;
    font-size: 25px;
}
.container {
    display: flex;
    margin-left: 24%;
}
.container h1 {
    margin: 0 20px;
}
.canvas {
    margin-left: 25%;
    width: 1000px;
    height: 1000px;
}